<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.unite5_gelisimizkonular">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/uyg1"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Unite5_GelisimizKonular"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Uyg1" android:label="@string/u5_uyg1">></activity>
        <activity android:name=".Uyg2" android:label="@string/u5_uyg2">></activity>
        <activity android:name=".Uyg3" android:label="@string/u5_uyg3">></activity>
        <activity android:name=".Uyg4" android:label="@string/u5_uyg4">></activity>
        <activity android:name=".Uyg5" android:label="@string/u5_uyg5">></activity>
        <activity android:name=".Uyg6" android:label="@string/u5_uyg6">></activity>
        <activity android:name=".Uyg7" android:label="@string/u5_uyg7">></activity>
        <activity android:name=".Uyg8.Uyg8" android:label="@string/u5_uyg8">></activity>
        <activity android:name=".Uyg9.Uyg9" android:label="@string/u5_uyg9">></activity>
        <activity android:name=".Uyg10.Uyg10" android:label="@string/u5_uyg10">></activity>
        <activity android:name=".Uyg11.Uyg11" android:label="@string/u5_uyg11">></activity>
        <activity android:name=".Uyg12.Uyg12" android:label="@string/u5_uyg12">></activity>
        <activity android:name=".Uyg13.Uyg13" android:label="@string/u5_uyg13"></activity>





    </application>

</manifest>